NodeRed/flow.json
[{"id":"f2d26c55.c14af","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"38dc4766.bd571","type":"counter","z":"f2d26c55.c14af","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":500,"y":560,"wires":[["b0eda5d1.32b2c8","e94c936f.f6c48","c1c98253.be1e7","a18575d9.c44ff8"]]},{"id":"6842bf47.19fb28","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":700,"wires":[["7c8f553c.b96f64"]]},{"id":"7c8f553c.b96f64","type":"change","z":"f2d26c55.c14af","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":700,"wires":[["38dc4766.bd571","ae48b9d4.c295f8"]]},{"id":"7aab8c97.8d18a4","type":"switch","z":"f2d26c55.c14af","name":"Ansteuerung nach Anzahl der Tastungen","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1140,"y":640,"wires":[["975045d.7f7b2b8"],["cfa5b29e.e6c23"],["5c8c6398.f3496c"]]},{"id":"5c8c6398.f3496c","type":"change","z":"f2d26c55.c14af","name":"3x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":700,"wires":[[]]},{"id":"cfa5b29e.e6c23","type":"change","z":"f2d26c55.c14af","name":"2x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"roller\":0,\"go\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":640,"wires":[[]]},{"id":"975045d.7f7b2b8","type":"change","z":"f2d26c55.c14af","name":"1x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"roller\":0,\"go\":\"close\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":580,"wires":[[]]},{"id":"e94c936f.f6c48","type":"switch","z":"f2d26c55.c14af","name":"Count > 0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":560,"wires":[["90048b63.8917a"]]},{"id":"b0eda5d1.32b2c8","type":"debug","z":"f2d26c55.c14af","name":"Anzahl der Taster drücke","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"90048b63.8917a","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":560,"wires":[["167c5d13.246e93","ae48b9d4.c295f8"]]},{"id":"167c5d13.246e93","type":"debug","z":"f2d26c55.c14af","name":"Tastungen nach Verzögerung","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":520,"wires":[]},{"id":"c1c98253.be1e7","type":"change","z":"f2d26c55.c14af","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[[]]},{"id":"972123e7.4e27c8","type":"mqtt in","z":"f2d26c55.c14af","name":"","topic":"/SmartHome/EG/Kinderzimmer/Touchtaster/1","qos":"2","datatype":"auto","broker":"9c6c1dcc.228e","x":190,"y":580,"wires":[["38dc4766.bd571","6842bf47.19fb28"]]},{"id":"983b9ce.3220e6","type":"change","z":"f2d26c55.c14af","name":"Setze auf 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":760,"wires":[["5a791dc7.48a864"]]},{"id":"566a9613.f3a9e8","type":"comment","z":"f2d26c55.c14af","name":"unten links","info":"","x":120,"y":520,"wires":[]},{"id":"a18575d9.c44ff8","type":"switch","z":"f2d26c55.c14af","name":"Count = 0","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":700,"wires":[["983b9ce.3220e6"]]},{"id":"2bc2fdaf.b50182","type":"counter","z":"f2d26c55.c14af","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":500,"y":160,"wires":[["aecabd8.952c6c","35297ca2.11d1ac","c09f8b18.0804a","5a4d4916.36e9b8"]]},{"id":"7745b29a.3e54f4","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":260,"wires":[["237dc289.d3806e"]]},{"id":"237dc289.d3806e","type":"change","z":"f2d26c55.c14af","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["2bc2fdaf.b50182","6beeddd7.92ad44"]]},{"id":"1e1cac6d.86afd4","type":"switch","z":"f2d26c55.c14af","name":"Ansteuerung nach Anzahl der Tastungen","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1140,"y":240,"wires":[["2e4fb40d.53cfc4"],["efb2a3df.adbea"],["4150f305.b6273c"]]},{"id":"4150f305.b6273c","type":"change","z":"f2d26c55.c14af","name":"3x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":300,"wires":[[]]},{"id":"efb2a3df.adbea","type":"change","z":"f2d26c55.c14af","name":"2x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"roller\":0,\"go\":\"stop\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":240,"wires":[[]]},{"id":"2e4fb40d.53cfc4","type":"change","z":"f2d26c55.c14af","name":"1x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"roller\":0,\"go\":\"open\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":180,"wires":[[]]},{"id":"35297ca2.11d1ac","type":"switch","z":"f2d26c55.c14af","name":"Count > 0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":160,"wires":[["8582257b.ba63a8"]]},{"id":"aecabd8.952c6c","type":"debug","z":"f2d26c55.c14af","name":"Anzahl der Taster drücke","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":60,"wires":[]},{"id":"8582257b.ba63a8","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":160,"wires":[["86869900.070ab","6beeddd7.92ad44"]]},{"id":"86869900.070ab","type":"debug","z":"f2d26c55.c14af","name":"Tastungen nach Verzögerung","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":120,"wires":[]},{"id":"c09f8b18.0804a","type":"change","z":"f2d26c55.c14af","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":120,"wires":[[]]},{"id":"b8cc827d.01fdb","type":"mqtt in","z":"f2d26c55.c14af","name":"","topic":"/SmartHome/EG/Kinderzimmer/Touchtaster/0","qos":"2","datatype":"auto","broker":"9c6c1dcc.228e","x":190,"y":180,"wires":[["2bc2fdaf.b50182","7745b29a.3e54f4"]]},{"id":"e87460ac.552558","type":"change","z":"f2d26c55.c14af","name":"Setze auf 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":360,"wires":[["69875f31.57ac08"]]},{"id":"f13bf9b0.981a4","type":"comment","z":"f2d26c55.c14af","name":"oben links","info":"","x":120,"y":120,"wires":[]},{"id":"5a4d4916.36e9b8","type":"switch","z":"f2d26c55.c14af","name":"Count = 0","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":300,"wires":[["e87460ac.552558"]]},{"id":"9ec73137.a0c66","type":"counter","z":"f2d26c55.c14af","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":500,"y":1320,"wires":[["dcc3f3e5.b38528","f397eba5.30f7f8","2d92e160.79ef9e","eb7dfb21.ee7268"]]},{"id":"b7ee786c.3be9d8","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1460,"wires":[["ad91e97.1ef1298"]]},{"id":"ad91e97.1ef1298","type":"change","z":"f2d26c55.c14af","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1460,"wires":[["9ec73137.a0c66","71953ceb.a46024"]]},{"id":"672425d.b35e75c","type":"switch","z":"f2d26c55.c14af","name":"Ansteuerung nach Anzahl der Tastungen","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1140,"y":1400,"wires":[["d296fe1.d78bf8"],["e968129d.446cf8"],["a4fc8892.8f4eb8"]]},{"id":"a4fc8892.8f4eb8","type":"change","z":"f2d26c55.c14af","name":"3x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1460,"wires":[[]]},{"id":"e968129d.446cf8","type":"change","z":"f2d26c55.c14af","name":"2x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1400,"wires":[[]]},{"id":"d296fe1.d78bf8","type":"change","z":"f2d26c55.c14af","name":"1x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1340,"wires":[[]]},{"id":"f397eba5.30f7f8","type":"switch","z":"f2d26c55.c14af","name":"Count > 0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1320,"wires":[["cba14184.ab6738"]]},{"id":"dcc3f3e5.b38528","type":"debug","z":"f2d26c55.c14af","name":"Anzahl der Taster drücke","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1220,"wires":[]},{"id":"cba14184.ab6738","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":1320,"wires":[["f3e379cb.d386f8","71953ceb.a46024"]]},{"id":"f3e379cb.d386f8","type":"debug","z":"f2d26c55.c14af","name":"Tastungen nach Verzögerung","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":1280,"wires":[]},{"id":"2d92e160.79ef9e","type":"change","z":"f2d26c55.c14af","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1280,"wires":[[]]},{"id":"2fffe325.fe7c1c","type":"mqtt in","z":"f2d26c55.c14af","name":"","topic":"/SmartHome/EG/Kinderzimmer/Touchtaster/3","qos":"2","datatype":"auto","broker":"9c6c1dcc.228e","x":190,"y":1340,"wires":[["9ec73137.a0c66","b7ee786c.3be9d8"]]},{"id":"538b9997.8ace1","type":"change","z":"f2d26c55.c14af","name":"Setze auf 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1520,"wires":[["5126b6f1.9497b8"]]},{"id":"230b1a03.8ddfc6","type":"comment","z":"f2d26c55.c14af","name":"oben rechts","info":"","x":130,"y":1280,"wires":[]},{"id":"eb7dfb21.ee7268","type":"switch","z":"f2d26c55.c14af","name":"Count = 0","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1460,"wires":[["538b9997.8ace1"]]},{"id":"e2641d2e.903688","type":"counter","z":"f2d26c55.c14af","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":500,"y":920,"wires":[["ff08a50b.61e3e","2617ea3a.0429e6","d7337028.85e108","72b00174.96bea"]]},{"id":"22eefa3e.8aff7e","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1060,"wires":[["ebba3165.39d0e"]]},{"id":"ebba3165.39d0e","type":"change","z":"f2d26c55.c14af","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1060,"wires":[["e2641d2e.903688","b91dca71.3dea4"]]},{"id":"5e0a83b3.e603b4","type":"switch","z":"f2d26c55.c14af","name":"Ansteuerung nach Anzahl der Tastungen","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1140,"y":1000,"wires":[["47f874bd.9d7e64"],["134a4c3.11abf34"],["c41bd5ed.277b6"]]},{"id":"c41bd5ed.277b6","type":"change","z":"f2d26c55.c14af","name":"3x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1060,"wires":[[]]},{"id":"134a4c3.11abf34","type":"change","z":"f2d26c55.c14af","name":"2x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1000,"wires":[[]]},{"id":"47f874bd.9d7e64","type":"change","z":"f2d26c55.c14af","name":"1x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":940,"wires":[[]]},{"id":"2617ea3a.0429e6","type":"switch","z":"f2d26c55.c14af","name":"Count > 0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":920,"wires":[["bb126059.b9f05"]]},{"id":"ff08a50b.61e3e","type":"debug","z":"f2d26c55.c14af","name":"Anzahl der Taster drücke","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":820,"wires":[]},{"id":"bb126059.b9f05","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":920,"wires":[["3f4d8bff.4eda54","b91dca71.3dea4"]]},{"id":"3f4d8bff.4eda54","type":"debug","z":"f2d26c55.c14af","name":"Tastungen nach Verzögerung","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":880,"wires":[]},{"id":"d7337028.85e108","type":"change","z":"f2d26c55.c14af","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":880,"wires":[[]]},{"id":"9848b359.2569f8","type":"mqtt in","z":"f2d26c55.c14af","name":"","topic":"/SmartHome/EG/Kinderzimmer/Touchtaster/2","qos":"2","datatype":"auto","broker":"9c6c1dcc.228e","x":190,"y":940,"wires":[["e2641d2e.903688","22eefa3e.8aff7e"]]},{"id":"dc7f096b.62595","type":"change","z":"f2d26c55.c14af","name":"Setze auf 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1120,"wires":[["8507c59f.60a7c"]]},{"id":"2dad2bef.b77494","type":"comment","z":"f2d26c55.c14af","name":"unten rechts","info":"","x":130,"y":880,"wires":[]},{"id":"72b00174.96bea","type":"switch","z":"f2d26c55.c14af","name":"Count = 0","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1060,"wires":[["dc7f096b.62595"]]},{"id":"20a15f70.a116d8","type":"counter","z":"f2d26c55.c14af","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":500,"y":1680,"wires":[["f2638e9f.c002c","c437f751.ca6538","37268e85.4d948a","1f2992cd.3fa4a5"]]},{"id":"744e6772.f3a098","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1820,"wires":[["9c2ffc12.fb4488"]]},{"id":"9c2ffc12.fb4488","type":"change","z":"f2d26c55.c14af","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1820,"wires":[["20a15f70.a116d8","ff7e2962.22e7f8"]]},{"id":"5e9e2dbf.981c04","type":"switch","z":"f2d26c55.c14af","name":"Ansteuerung nach Anzahl der Tastungen","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1160,"y":1760,"wires":[["b73be627.f4827"],["bd357189.ea47f8"],["fc69b60d.5eab08"]]},{"id":"fc69b60d.5eab08","type":"change","z":"f2d26c55.c14af","name":"3x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1820,"wires":[[]]},{"id":"bd357189.ea47f8","type":"change","z":"f2d26c55.c14af","name":"2x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1760,"wires":[[]]},{"id":"b73be627.f4827","type":"change","z":"f2d26c55.c14af","name":"1x Tasten","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"relay\":0,\"turn\":\"toggle\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1700,"wires":[[]]},{"id":"c437f751.ca6538","type":"switch","z":"f2d26c55.c14af","name":"Count > 0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1680,"wires":[["84497e31.f250e"]]},{"id":"f2638e9f.c002c","type":"debug","z":"f2d26c55.c14af","name":"Anzahl der Taster drücke","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1580,"wires":[]},{"id":"84497e31.f250e","type":"delay","z":"f2d26c55.c14af","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":1680,"wires":[["e0ffa2e0.efbaa8","ff7e2962.22e7f8"]]},{"id":"e0ffa2e0.efbaa8","type":"debug","z":"f2d26c55.c14af","name":"Tastungen nach Verzögerung","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":1640,"wires":[]},{"id":"37268e85.4d948a","type":"change","z":"f2d26c55.c14af","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1640,"wires":[[]]},{"id":"64eec219.de1804","type":"mqtt in","z":"f2d26c55.c14af","name":"","topic":"/SmartHome/EG/Kinderzimmer/Touchtaster/4","qos":"2","datatype":"auto","broker":"9c6c1dcc.228e","x":190,"y":1700,"wires":[["20a15f70.a116d8","744e6772.f3a098"]]},{"id":"31340a7b.6692ce","type":"change","z":"f2d26c55.c14af","name":"Setze auf 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1880,"wires":[["dbbb9025.3955b8"]]},{"id":"1d5e8a24.c80e2e","type":"comment","z":"f2d26c55.c14af","name":"mitte","info":"","x":110,"y":1640,"wires":[]},{"id":"1f2992cd.3fa4a5","type":"switch","z":"f2d26c55.c14af","name":"Count = 0","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1820,"wires":[["31340a7b.6692ce"]]},{"id":"6beeddd7.92ad44","type":"trigger","z":"f2d26c55.c14af","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":770,"y":260,"wires":[["1e1cac6d.86afd4"]]},{"id":"ae48b9d4.c295f8","type":"trigger","z":"f2d26c55.c14af","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":810,"y":700,"wires":[["7aab8c97.8d18a4"]]},{"id":"b91dca71.3dea4","type":"trigger","z":"f2d26c55.c14af","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":810,"y":1060,"wires":[["5e0a83b3.e603b4"]]},{"id":"71953ceb.a46024","type":"trigger","z":"f2d26c55.c14af","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":830,"y":1460,"wires":[["672425d.b35e75c"]]},{"id":"ff7e2962.22e7f8","type":"trigger","z":"f2d26c55.c14af","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":830,"y":1820,"wires":[["5e9e2dbf.981c04"]]},{"id":"69875f31.57ac08","type":"link out","z":"f2d26c55.c14af","name":"","links":["724a8ef.2d668f"],"x":1535,"y":400,"wires":[]},{"id":"5a791dc7.48a864","type":"link out","z":"f2d26c55.c14af","name":"","links":["724a8ef.2d668f"],"x":1535,"y":800,"wires":[]},{"id":"8507c59f.60a7c","type":"link out","z":"f2d26c55.c14af","name":"","links":["724a8ef.2d668f"],"x":1535,"y":1120,"wires":[]},{"id":"5126b6f1.9497b8","type":"link out","z":"f2d26c55.c14af","name":"","links":["724a8ef.2d668f"],"x":1535,"y":1520,"wires":[]},{"id":"dbbb9025.3955b8","type":"link out","z":"f2d26c55.c14af","name":"","links":["724a8ef.2d668f"],"x":1535,"y":1880,"wires":[]},{"id":"724a8ef.2d668f","type":"link in","z":"f2d26c55.c14af","name":"","links":["69875f31.57ac08","8507c59f.60a7c","5a791dc7.48a864","5126b6f1.9497b8","dbbb9025.3955b8"],"x":35,"y":1940,"wires":[["b908f9dc.c4a01"]]},{"id":"4a1069c0.b054d","type":"mqtt out","z":"f2d26c55.c14af","name":"","topic":"/SmartHome/EG/Kinderzimmer/Touchtaster/StatusLED/0","qos":"","retain":"","broker":"9c6c1dcc.228e","x":480,"y":1940,"wires":[]},{"id":"b908f9dc.c4a01","type":"change","z":"f2d26c55.c14af","name":"LED auf Blau","rules":[{"t":"set","p":"payload","pt":"msg","to":"0000FF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1940,"wires":[["4a1069c0.b054d"]]},{"id":"9c6c1dcc.228e","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
